services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: glance
      WATCHTOWER_POLL_INTERVAL: 3600

  cloudflare-proxy:
    image: cloudflare/cloudflared:latest
    container_name: glances_cloudflare
    restart: always
    command: tunnel --no-autoupdate run --token $CLOUDFLARE_TUNNEL_TOKEN
    depends_on:
      glance:
        condition: service_started
#        condition: service_healthy

  glance:
    container_name: glance
    image: glanceapp/glance:latest
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      # Optionally, also mount docker socket if you want to use the docker containers widget
      # - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "8080:8080/tcp"
    env_file: .env
